node_modules
npm-debug.log
test/tmp
/.idea
*.iml
tasks/*.js
test/out.d.ts
test/work/out.d.ts
test/work/reference.ts
*.map
test/**/*.js
test/**/*.html.ts
test/html/reference.ts

test/definitelytypedtest/reference.ts
tscommand.tmp.txt

!.gitignore
!tasks/ts.js
