node_modules
npm-debug.log
test/tmp
/.idea
*.iml
tasks/ts.js.map
test/out.js
test/fail/fail.js.map
test/fail/work.js.map
test/out.d.ts
test/out.js.map
tasks/scratch.js
tasks/scratch.js.map
test/work/out.d.ts
test/work/out.js
test/work/reference.ts
*.map
test/fail/fail.js
test/fail/work.js
test/abtest/a.js
test/abtest/b.js
test/abtest/c.js
test/abtest/out.js
test/amdtest/a.js
test/amdtest/b.js
test/amdtest/c.js
test/**/*.js
test/html/test.tpl.html.ts
test/*/*.js
test/*/*/*.js
test/html/src/test.tpl.html.ts
test/html/reference.ts

test/definitelytypedtest/reference.ts
tscommand.tmp.txt
