node_modules
npm-debug.log
test/tmp
/.idea
/*.tgz
*.iml
tasks/*.js
test/out.d.ts
test/work/out.d.ts
test/work/reference.ts
*.map
test/**/*.js
test/**/*.html.ts
!test/expected/htmlExternal/*.ts
test/html/reference.ts
!test/allowJs/allowJsLibrary.js

test/definitelytypedtest/reference.ts
/tscommand*.tmp.txt

!.gitignore
!tasks/ts.js
!tasks/ts-internal.js
!test/expected/**/*.js
!test/expected/**/*.map
!test/tsconfig_artifact/newlineConfigs/*.js 
!test/commandLineAssertions.js
!test/optionsResolverTests.js
!test/compilerTests.js
!test/testHelpers.js
.tscache/
!test/tsconfig/*.json
bin/
obj/
*.user
*.suo
.project
.settings/
/.vs
/.alm/
