node_modules
npm-debug.log

.gitignore
.gitattributes
.npmignore

/test
/.idea
/defs
/sample
/tasks/scratch.*

/tslint.json
/tsd.json

/.travis.yml
/.jshintrc
/Gruntfile.js
/build.bat
/*.tgz

/tscommand*.tmp.txt

/tasks/ts-internal.js
