node_modules
npm-debug.log

.gitignore
.gitattributes
.npmignore

/vsproj_test_config
/test
/customcompiler
/.idea
/defs
/sample
/tasks/scratch.*
/tasks-internal
/.tscache

/tslint.json
/tsd.json
/tsconfig.json

/.travis.yml
/.jshintrc
/Gruntfile.js
/build.bat
/*.tgz

/tscommand*.tmp.txt

/docs
/AUTHORS
/*.md
/custom.TypeScript.targets

/bin
/obj
/.vscode
*.user
*.suo
*.csproj
*.sln