node_modules
npm-debug.log

.gitignore
.gitattributes
.npmignore

/test
/customcompiler
/.idea
/defs
/sample
/tasks/scratch.*
/tasks-internal
/.tscache

/tslint.json
/tsd.json

/.travis.yml
/.jshintrc
/Gruntfile.js
/build.bat
/*.tgz

/tscommand*.tmp.txt

/bin
/obj
*.user
*.suo
*.csproj
*.sln